language: python
python:
    - "2.7"
sudo: false
cache:
    directories:
        - "~/.platformio"
env:
    # - SUBPROJECT=presence BOARD=nodemcu
    # - SUBPROJECT=aire BOARD=nodemcu
    - SUBPROJECT=button BOARD=sonoff
    - SUBPROJECT=shutters BOARD=sonoff
    - SUBPROJECT=sniffer BOARD=sonoff
    - SUBPROJECT=rotary_encoder BOARD=nodemcu
    - SUBPROJECT=luminance BOARD=nodemcu
    - SUBPROJECT=temperature BOARD=nodemcu
    - SUBPROJECT=oled BOARD=nodemcu
    - SUBPROJECT=oled2 BOARD=nodemcu
    - SUBPROJECT=reed_switch BOARD=nodemcu
    - SUBPROJECT=servo BOARD=nodemcu
install:
    - pip install -U platformio
script:
    # - BUILD_DIR=$(pwd)/tmp/$SUBPROJECT
    # - mkdir -p $BUILD_DIR
    # - cd $SUBPROJECT
    # - platformio ci --project-conf=platformio.ini -e $BOARD --keep-build-dir --build-dir=$BUILD_DIR
    # - curl -F upload=@$BUILD_DIR/.pioenvs/nodemcu/firmware.bin -F description="$SUBPROJECT ($BOARD)" http://artifacts.myftp.biz:9080/upload
    - platformio run -d $SUBPROJECT -e $BOARD
    - curl -F upload=@$(pwd)/$SUBPROJECT/.pioenvs/$BOARD/firmware.bin -F description="$SUBPROJECT ($BOARD)" http://artifacts.myftp.biz:9080/upload

