language: python
python:
    - "2.7"

sudo: false
cache:
    directories:
        - "~/.platformio"

env:
    - PLATFORMIO_CI_SRC=src
    - PLATFORMIO_CI_SRC=presence
    - PLATFORMIO_CI_SRC=button

install:
    - pip install -U platformio
    - wget https://github.com/marvinroger/homie-esp8266/archive/develop.zip -O /tmp/homiedevelop.zip
    - unzip /tmp/homiedevelop.zip -d /tmp

script:
    - BUILD_DIR=$(pwd)/tmp/$PLATFORMIO_CI_SRC
    - mkdir -p $BUILD_DIR
    - platformio ci --lib="/tmp/homie-esp8266-develop" --project-conf=platformio.ini --keep-build-dir --build-dir=$BUILD_DIR
    - curl -F upload=@$BUILD_DIR/.pioenvs/nodemcu/firmware.bin -F description="press your things" http://artifacts.myftp.biz:9080/upload
